<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card">
                <div class="card-body">
                    <div #contenidoDiv>
                        <div class="contenedor" style="position: relative;left: -18px;height: 580px;" id="contenido">
                            <img src="https://webapp.mdsmp.gob.pe/sanidadbackend/public/files/certificado.png" style="position: absolute;z-index: 2;" />
                            <img src="https://webapp.mdsmp.gob.pe/sanidadbackend/public/files/certificado.png" style="position: absolute;z-index: 2;" />
                            <img src="http://172.17.1.56/files/salud/{{inputPersona.cer_imgfot}}" style="position: absolute; width: 125px;top: 38px;left: 61px;z-index: 1;height: 125px;" />
                            <img src="http://172.17.1.56/files/salud/{{inputPersona.cer_imgfot}}" style="position: absolute; width: 125px;top: 38px;left: 61px;z-index: 1;height: 125px;" />

                            <div class="centrado" style="z-index: 3;position: absolute;top: 204px;left: 190px;width: 527px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.per_nombre}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 239px;left: 178px;width: 30vh;text-align: left;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.per_numdoi}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 265px;left: 76px;width: 321px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.cer_nomrso}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 265px;left: 470px;width: 249px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.act_descri}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 292px;left: 239px;width: 376px;text-align: left;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.ocu_descri}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 318px;left: 152px;width: 568px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.dir_direcc}}</div>
                            
                            <div class="centrado" style="z-index: 3;position: absolute;top: 345px;left: 200px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.cer_fecemi}}</div>
                            <div class="centrado" style="z-index: 3;position: absolute;top: 148px;left: 669px;text-align: center;font-size: 11px;font-family: sans-serif;font-weight: bold;">{{inputPersona.cer_numrec}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-grid gap-2">
            <button (click)="convertirAPDF()" class="btn btn-primary btn-block btn-sm" id="clickbtn"><i class="pe-7s-note btn-icon-wrapper"> </i> IMPRIMIR CERTIFICADO </button>
        </div>
    </div>
</div>