<ng-template #EditarImagen>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> <i class="pe-7s-plus btn-icon-wrapper"> </i> Edición de Carne</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"
            onclick="Limpiartalcancelar()" id="closeModal">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6 col-md-6 col-sm-6">
                <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="3 / 4"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="col-6 col-md-6 col-sm-6">
                <div>
                    <img [src]="croppedImage" class="img-responsive" style="width: 100%;"/>
                </div>
            </div>
            <div class="col-12 col-md-12 col-sm-12">
                <div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary" (click)="GuardarCambiosImagen()">Guardar Cambios</button>
                        <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<button (click)="openModal(EditarImagen, 'modal-xl')" style="display: none;" id="btnmodalimagen">x</button>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Crear Nuevo Carnet</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Carnet</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Nuevo Carnet</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card card-h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="col-md-12" style="text-align: -webkit-center;">
                                            <div class="text-center" style="width:215px">
                                                <img [src]="imageUrl" class="img-fluid" alt="Responsive image">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-4" style="position: absolute;top: 288px;padding-right: 7px;">
                                            <input class="form-control form-control-sm" id="fileimagenup" type="file" (change)="onFileSelected($event)" accept="image/*">
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <select class="form-select" [(ngModel)]="p_tdi_id" data-choices-sorting="true">
                                                            <option selected="" value="0">Seleccione...</option>
                                                            <option *ngFor="let data of datosTipoDocumento" value="{{data.tdi_id}}">{{data.tdi_abrevi}}</option>
                                                        </select>
                                                        <label>T. Documento</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" id="p_per_numdoi" [(ngModel)]="p_per_numdoi" (blur)="buscarPersona()">
                                                        <label>N° Documento</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-md-3">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="p_car_numrec">
                                                        <label for="firstnamefloatingInput">Recibo</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-floating">
                                                        <input type="date" class="form-control" placeholder="">
                                                        <label>Fecha de Recibo</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-floating">
                                                        <input type="date" class="form-control" placeholder="" [(ngModel)]="p_car_fecemi">
                                                        <label>Fecha de Emision</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="colFormLabelSm"
                                                        class="col-form-label col-form-label-sm">Manipula
                                                        alimentos?<span class="text-danger"> *</span></label>

                                                    <div class="form-check form-switch mb-3" dir="ltr">
                                                        <input type="checkbox" class="form-check-input" [(ngModel)]="p_car_manali" checked="" (change)="Changemanali()">
                                                        <label class="col-form-label-sm">{{confsinomanali}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="pen_nombre" style="background: #ebf0f5;" disabled>
                                                        <label>Nombres</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="pen_apepat" style="background: #ebf0f5;" disabled>
                                                        <label>Apellido Paterno</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="pen_apemat" style="background: #ebf0f5;" disabled>
                                                        <label>Apellido Materno</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="p_car_direcc" autocomplete="off">
                                                        <label>Dirección</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="p_car_correo" autocomplete="off">
                                                        <label>Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <ng-select class="custom-ng-select" [(ngModel)]="p_act_id" [items]="datosRubro" placeholder="Seleccione" bindLabel="act_descri" bindValue="act_id" style="border: 1px solid #b9b9b9 !important;"></ng-select>
                                                        <label>Rubro / Giro</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <ng-select class="custom-ng-select" [(ngModel)]="p_ocu_id" [items]="datosOcupacion" placeholder="Seleccione" bindLabel="ocu_descri" bindValue="ocu_id" style="border: 1px solid #b9b9b9 !important;"></ng-select>
                                                        <label>Ocupación</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end mt-4">
                                            <button (click)="guardarCarne()" type="button" class="btn btn-primary"
                                                style="margin-right: 5px;"> <i class=""></i>Guardar</button>
                                            <button type="button" class="btn btn-danger" [routerLink]="['/carne']">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin"
                [fullScreen]="false">
                <p style="color: white"> Validando información </p>
            </ngx-spinner>

        </div>
    </div>
</div>
<app-toast></app-toast>