<div id="toastContainer" 
data-toast data-toast-text="" data-toast-gravity="" data-toast-position="" data-toast-className="" data-toast-duration="" data-toast-close="close" data-toast-style="style"
class="toast overflow-hidden mt-3 position-absolute bottom-0 end-0 me-2 mb-2" style="z-index: 999;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 me-2">
                <i id="toastIcon" class="ri-alert-line align-middle"></i>
            </div>
            <div class="flex-grow-1">
                <h6 id="toastMessage" class="mb-0"></h6>
            </div>
        </div>
    </div>
</div>