<div class="app-menu navbar-menu">
    <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
            <span class="logo-sm mt-5">
                <img src="./assets/images/logo.png" alt="" height="60">
            </span>
            <span class="logo-lg mt-5">
                <img style="margin-top: 10;" src="./assets/images/logo.png" alt="" height="60">
            </span>
        </a>
        <a routerLink="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="./assets/images/logo.png" alt="" height="26">
            </span>
            <span class="logo-lg">
                <img src="./assets/images/logo.png" alt="" height="26">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>
    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="persona">
                        <i class="bi bi-hdd-stack"></i> <span data-key="t-persona">Persona</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="carne">
                        <i class="bi bi-hdd-stack"></i> <span data-key="t-carnet">Carnet</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="certificado">
                        <i class="bi bi-hdd-stack"></i> <span data-key="t-certificado">Certificado</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sideMascotas" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sideMascotas">
                        <i class="bi bi-journal-medical"></i> <span data-key="t-pages">Mascotas</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sideMascotas">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="" class="nav-link" routerLink="mascota" data-key="t-certificado"> Listar Mascotas </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-key="t-starter"> Listar Propietario </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>