
<ng-template #Imprimir>
    <app-modalcarne [inputPersona]="dataprueba"></app-modalcarne>
</ng-template>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Lista de Carnet</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Carnet</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card p-2">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-1">
                                  <label class="col-form-label">T. Doc:</label>
                                </div>
                                <div class="col-2">
                                    <select class="form-select form-select-sm" [(ngModel)]="p_tdi_id"
                                        data-choices-sorting="true">
                                        <option selected="" value="0">Seleccione...</option>
                                        <option *ngFor="let data of datosTipoDocumento"
                                            value="{{data.tdi_id}}">{{data.tdi_abrevi}}</option>
                                    </select>
                                </div>
                                <div class="col-1">
                                  <label class="col-form-label">N° Doc:</label>
                                </div>
                                <div class="col-2">
                                  <input [(ngModel)]="p_per_numdoi" type="number" class="form-control form-control-sm">
                                </div>
                                <div class="col-1">
                                  <label class="col-form-label">Giro:</label>
                                </div>
                                <div class="col-2">
                                    <ng-select [(ngModel)]="p_act_id" class="form-control input-sm" style="border: 1px solid #b9b9b9 !important;">
                                        <ng-option *ngFor="let giro of datosGiro" [value]="giro.act_id">{{giro.act_descri}}</ng-option>
                                     </ng-select>
                                </div>
                                <div class="col-1">
                                    <label class="col-form-label">Ocupación:</label>
                                </div>
                                <div class="col-2">
                                    <ng-select [(ngModel)]="p_ocu_id" class="form-control input-sm" style="border: 1px solid #b9b9b9 !important;">
                                        <ng-option *ngFor="let ocupa of datosOcupacion" [value]="ocupa.ocu_id">{{ocupa.ocu_descri}}</ng-option>
                                     </ng-select>
                                </div>
                            </div>
                            <div class="row g-3 pt-2 align-items-center">
                                <div class="col-1">
                                  <label class="col-form-label">Fecha Inicio:</label>
                                </div>
                                <div class="col-5">
                                  <input [(ngModel)]="p_car_fecini" type="date" class="form-control form-control-sm">
                                </div>
                                <div class="col-1">
                                  <label class="col-form-label">Fecha Fin:</label>
                                </div>
                                <div class="col-5">
                                  <input [(ngModel)]="p_car_fecfin" type="date" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-sm-auto">
                                    <button type="button" (click)="ListarCarne()" class="btn btn-primary btn-label btn-sm"><i class="ri-search-line label-icon align-middle fs-16 me-2"></i> Buscar</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" [routerLink]="['/carne/crear-carne']" class="btn btn-info btn-label btn-sm"><i class="mdi mdi-plus label-icon align-middle fs-16 me-2"></i> Nuevo</button>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-success btn-label btn-sm" id="ExportarExcel" (click)="descargaExcel()"><i class="ri-markup-line label-icon align-middle fs-16 me-2"></i> Excel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-h-100">
                        <div class="card-body">
                            <div>
                                <table id="tablaAplicacion" datatable [dtOptions]="dtOptions"
                                [dtTrigger]="dtTrigger" class="row-border hover cell-border compact stripe">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col" class="text-center">N°C</th>
                                            <th scope="col" class="text-center">AÑO</th>
                                            <!-- <th scope="col" class="text-center">IMAGEN</th> -->
                                            <th scope="col" class="text-center">NOMBRES </th>
                                            <th scope="col" class="text-center">N°DOC</th>
                                            <th scope="col" class="text-center">EMAIL</th>
                                            <th scope="col" class="text-center">GIRO</th>
                                            <th scope="col" class="text-center">OCUPACIÓN</th>
                                            <th scope="col" class="text-center">ALIMENTOS</th>
                                            <th scope="col" class="text-center">EMITIDO</th>
                                            <th scope="col" class="text-center">VENCE</th>
                                            <th scope="col" class="text-center">ESTADO</th>
                                            <th scope="col" class="text-center">ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of dataCarnet;let idx = index"
                                            class="text-center">
                                            <td>{{ data.car_numero }}</td>
                                            <td>{{ data.car_anydoc }}</td>
                                            <!-- <td>{{ data.car_imgfot }}</td> -->
                                            <td>{{ data.per_nombre }}</td>
                                            <td>{{ data.per_numdoi }}</td>
                                            <td>{{ data.car_correo }}</td>
                                            <td>{{ data.act_descri }}</td>
                                            <td>{{ data.ocu_descri }}</td>
                                            <td>{{ data.txt_manali }}</td>
                                            <td>{{ data.car_fecemi }}</td>
                                            <td>{{ data.car_fecven }}</td>
                                            <td>{{ data.car_estado }}</td>
                                            <td><button type="button" (click)="openModalWithClass(Imprimir,data)" class="btn btn-primary btn-sm"><i class="bi bi-eye fs-10"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-square-spin" [fullScreen]="false">
    <p style="color: white"> Buscando información... </p>
</ngx-spinner>
<app-toast></app-toast>